<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>添加新学员</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/move.js"></script>
    <script src="../js/addEvent.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../CSS/main.css" type="text/css">
    <link rel="stylesheet" href="../CSS/add.css" type="text/css">
    <link rel="stylesheet" href="../CSS/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../CSS/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <form action="form" method="post" action="add">
      <div class="top">

        <div class="header">添加新学员</div>
         <div class="center">
           <ul id="form-ul-id">
            <li>
              <label><span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span> <input type="text" name="user" placeholder="学生姓名"></label>
            </li>
            <li>
              <label><span>联系方式</span> <input type="text" name="phone" placeholder="手机、电话号码"></label>
            </li>
            <li>
              <label> <span>所在院校</span> <input type="text" name="scroll" placeholder="所在学校名字"></label>
          </li>
            </li>
            <li>
              <label><span>所在专业</span> <input type="text" name="dept" placeholder="学生所学专业"></label>
            </li>
            <li>
              <label><span>咨询教师</span> <input type="text" name="dept" placeholder="咨询教师姓名"></label>
            </li>
          </ul>
         </div>
          <div class="submit"><button id="submit-id">提交</button></div>
      </div>
      </form>
  </body>
</html>
