@charset "utf-8";
body{
  position: absolute;
}

.top {
  height: 570px;
  width: 700px;
  border: 1px solid gray;
  position: relative;
  top: 150px;
  left: 600px;
}

.header {
   width: 700px;
   height: 70px;
   background: #40aac7;
   font-size: 27px;
   color: white;
   line-height: 70px;
   text-align: center;
}

.center ul li {
  height: 50px;
  width: 700px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  display:inline-block;
  position: relative;
  left:
}

.center ul li label {
  margin: auto;
}

.center ul li label span {
  display: inline-block;
  float: left;
  position: relative;
  top: 13px;
  left: 100px;
}

.center ul li label input {
  height: 35px;
  width: 400px;
  padding-left: 10px;
  font-size: 13px;
  box-shadow: 0 0 4px #CECECE inset;
  border: 1px solid #abc;
  display: inline-block;
  position: relative;
  right: -130px;
  top: 8px;
}

.center ul li > div {
  float: left;
  margin: auto;
}
.center form ul  li.protocol input {
    width: auto;
    height: auto;
}


.submit button {
    display: block;
    width: 100px;
    height: 40px;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    position: relative;
    right: -213px;
    color:white;
    background: #49b7bf;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 20px;
    margin: auto;

}
